#map {
    height: 300px;
    width: 500px;
    margin-left:20px;
    margin-top:20px;
}

.adressOfShop{
    text-align:center;
    position:relative;
    top:-335px;
    left:530px;
    width:290px;
    height:300px;
    background-color:rgba(211, 216, 211, 0.66)
}

.textOfAllInstruments{
    color:#460606;
    font-size:15px;
    font-style:italic;
    margin-left:10px;
}

.courierOrShop{
    width:200px;
    height:60px;
    margin-left:40px;
    margin-top:20px;
    border-color: #753434;
    outline-color:#840a0a;
    border-radius:40px;
    font-size:20px;
    color:#840a0a;
    background-color:#ffe6a9;
}

.courierOrShop:hover{
    cursor: pointer;
}

#shop{
    border-color: #7b0000;
}

#courier{
    border-color:#ffe6a9;
}

.selectText{
    font-size:35px;
    color:#800606
}

.selectShop{
    font-size:25px;
    background-color:#d0bc89;
    color:#390000;
    outline-color:#91825e;
    border-radius:15px;

}

.yourOrder{
    position:relative;
    top:-340px;
    left:160px;
    width:500px;
    text-align:center;
    background-color: #e8d09a
}

.yourOrder1{
    position:relative;
    top:50px;
    left:160px;
    width:500px;
    text-align:center;
    background-color: #e8d09a
}

.toPay{
    margin:5px;
    color:#ffe6a9;
    font-size:20px;
    background-color:#840a0a;
    border-color:#6d0707;
    border-radius:20px;
    outline: none;
}

.toPay:hover{
    cursor:pointer;
}

#courier1{
    background-color:rgba(255, 230, 169, 0.33);
    height:550px;
    text-align:center;
}

.enterAdress{
    font-size:30px;
    color:#390000;
}

.inputAdress{
    height:40px;
    width:500px;
    font-size:20px;
    background-color:rgb(224, 208, 193);
}