.welcome{
    color:aliceblue;
    font-size:40px;
    margin-left:20px;
}

.goToBucketFromAccount{
    background:rgba(57, 0, 0, 0.67);
    text-align:center;
    width:250px;
    height:150px;
    border:black;
    outline:none;
}

.goToBucketFromAccount:hover{
    cursor:pointer;
}

.textInAccountBucket{
    font-size:30px;
    color:#ffe6a9;
}

.initParam1{
    font-size:30px;
    color:#ffe6a9;
}

#b1{
    position:relative;
    left:30px;
}

#b2{
    position:relative;
    top:-10px;
    left:30px;
}

#b3{
    position:relative;
    top:17px;
    left:30px;
}