.contentAuth {
    background: rgba(145, 130, 94, 0.5);
    width: 1100px;
    height: 650px;
}

.auth{
    background:#270303;
    width:400px;
    height:220px;
    margin: 100px auto auto;
    text-align:center;
}

.auth1{
    background:#270303;
    width:400px;
    height:280px;
    margin: 100px auto auto;
    text-align:center;
}

.loginAndPasswordLabel{
    position:relative;
    top:20px;
    color:#ffe6a9;
    font-size:25px;
    outline-color: #7a4930;
}

.loginAndPasswordLabel1{
    position:relative;
    top:20px;
    color: rgba(219, 38, 42, 0.79);
    font-size:25px;
    outline-color: #7a4930;
}

.loginAndPasswordInput{
    width:250px;
    height:30px;
    margin-top:20px;
    border-color:#e44e4e;
    outline-color: #7a4930;
}

.submitButton{
    background:#d0bc89;
    border-color:#d0bc89;
    font-size:18px;
    margin-top:20px;
    width:120px;
    border-radius:15px;
    outline-color: #7a4930;
}

.submitButton:hover{
    cursor: pointer;
}