<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myDBtest</property>
        <property name="hibernate.connection.username">darya</property>
        <property name="hibernate.connection.password">darya</property>
        <mapping resource="DB/instruments.hbm.xml"/>
        <!--<mapping resource="DB/shops.hbm.xml"/>-->

    </session-factory>
</hibernate-configuration>